
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            background-color: rgb(22, 21, 21);
            color: rgb(255, 255, 255);
            padding: 5px;
            display: flex;
            flex-direction: column;
            
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem;

        }
        form input{
            border: none;
            background-color: rgba(41, 39, 39, 0.945);
            height: 2rem;
            padding: 5px;
            outline: none;
            color: white;
            font-size: 1.5rem;
            font-family: cursive;


        }
        form textarea{
            background-color: rgba(41, 39, 39, 0.945);
            height:65vh;
            color: white;
            outline: none;
            border: none;
            overflow: scroll;
            padding: 5px;  
            font-size:medium;
            font-family: cursive;
        }
        form button{
            background-color: orange;
            padding: 1rem 2rem;
            width: fit-content;
        }
    </style>
    <title>New Note</title>
</head>
<body>
    <h1>Edit Note</h1>
        <form action="/edit/<%=filename%>" method="post">
            <input type="text" placeholder="<%=filename%>" name="newName" value="<%=filename%>">
            <textarea type="text" placeholder="<%=content%>" name="newContent"><%=content%></textarea>
            <button type="submit">Update Note</button>
    </form>
</body>
</html>